<div class="row justify-content-md-center m-3">
  <div class="col-lg-5 mr-lg-3 pb-md-1 pl-lg-5 pt-3 ml-lg-5">
    <img src="/images/signup-success.svg" alt="landing page photo" width="100%">
  </div>

  <div class="col-lg mt-lg-3 pt-lg-5 pr-lg-5 mr-lg-5 text-lg-left text-center">
    <h2 class="mt-4 text-dark">Your Account has been created!</h2>
    <p class="mt-3 text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae temporibus enim
      nobis
      magnam doloribus. Lorem ipsum dolor sit amet.</p>

    <a href="/auth/login" class="btn btn-outline-blue mt-3 mr-4">Login here</a>

  </div>

</div>