{{!-- profile/index --}}
{{!-- Profile Page --}}

<div class="container"></div>
<div class="row">
	<div class="col-sm">
		<img src="images/home-page/landing7.svg" alt="landing page photo" width="50%">
		<br>
		one of the three columns
	</div>
	<div class="col-sm">
		username: {{user.username}}
		<br>
		description: {{user.description}}
	</div>
</div>
<hr>
