<section id="landing" class="container mt-sm-1 mb-5">

  <div class="row justify-content-md-center">
    <div class="col-lg pb-md-1 p-5 ">
      <img src="/images/page_not_found_404.svg" alt="landing page photo" width="100%">
    </div>

    <div class="col-lg mt-lg-5 ml-lg-1 pt-lg-5 pr-lg-5 text-lg-left text-center">
      <h1 class="mt-4 text-dark">Page not found</h1>

      <a href="/" class="btn btn-outline-blue mt-3 mr-4">Go to Home Page</a>
    </div>

  </div>
</section>