{{!-- Landing Page --}}
<div id="landing" class="d-lg-flex align-item-center pl-lg-5 pr-lg-5 mt-3">
  <div class="p-lg-5">
    <img src="images/home-page/landing7.svg" alt="landing page photo" width="90%">
  </div>
  <div class="mt-lg-5 ml-lg-1 pt-lg-5 pr-lg-5">
    <h1 class="mt-4 text-dark">Learning Platform</h1>
    <p class="mt-3 text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae temporibus enim nobis
      magnam doloribus. Lorem ipsum dolor sit amet.</p>
  </div>
</div>

{{!-- Features --}}

