<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironlearn</title>
<<<<<<< HEAD
  {{!-- bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
=======
>>>>>>> baa230331497051cf73c2c5d1d723a88272d50d5
  {{!-- google font --}}
  <link href="https://fonts.googleapis.com/css?family=Fahkwang|Roboto" rel="stylesheet">
  {{!-- fontawesome --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  {{!-- own stylesheet --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="d-flex flex-column">
    {{!-- Start NAVIGATION BAR --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
      <div class="d-flex flex-grow-1 align-items-center">
        <a id="logo" class="text-white navbar-brand" href="/">
          <img src="/images/home-page/logo.svg" alt="logo" width="60" class="mr-3">
          Ironlearn
        </a>
        <div class=" w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item">
            <a href="/tutorials/all" class="text-light nav-link mr-4">Tutorials</a>
          </li>
          <li class="nav-item">
            <a href="/share/add" class="text-light nav-link mr-4">Share</a>
          </li>

          {{!-- Check if user is connected --}}
          {{#if isConnected}}
          <li class="nav-item">
            <a href="#" class="text-light nav-link mr-4">Profile</a>
          </li>
          <li class="nav-item">
            <a href="/auth/logout" class="text-light nav-link">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a href="/auth/login" class="text-light nav-link">Login/Signup</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </nav>
    {{!-- End NAVIGATION BAR --}}

<<<<<<< HEAD
        {{!-- Check if user is connected --}}
        {{#if isConnected}}
        <li class="nav-item">
          <a href="#" class="text-light nav-link mr-4">Profile</a>
        </li>
        <li class="nav-item">
          <a href="/auth/logout" class="text-light nav-link">Log Out</a>
        </li>

        {{else}}
        <li class="nav-item">
          <a href="/auth/login" class="text-light nav-link">Login/Signup</a>
        </li>
        {{/if}}
      </ul>
=======
    <div class="flex-grow-1">
      {{{body}}}
>>>>>>> baa230331497051cf73c2c5d1d723a88272d50d5
    </div>


    {{!-- FOOTER --}}
    <footer>
      <p class="p-3 mb-0 mt-5 bg-dark text-center text-white">&copy;2019 Ironlearn</p>
    </footer>

  </div>

  {{!-- bootstrap script --}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  {{!-- own script --}}
  <script src="/javascripts/script.js"></script>
</body>

</html>