$primary: #6c63ff;
$primary-light: #9891fd;
$primary-dark: #473dff;
$primary-super-dark: #3830cc;
$secondary-light: #9ba9b4;
$dark: #2c4058;
$blue-light: #4298fb;
$blue: #4264fb;
$danger: #e62153;
$red: #e62153;
$red-light: #fa688d;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

a {
  color: $blue;
  transition: all 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

// text
.text-blue {
  color: $blue;
}
.text-primary-light {
  color: $primary-light;
}
.text-primary-dark {
  color: $primary-dark;
}
.text-secondary-light {
  color: $secondary-light;
}
.text-red-light {
  color: $red-light;
}

// Button
.btn {
  transition: all 0.3s;
  border-radius: 0.5rem;
}
.btn-outline-primary:hover {
  color: #fff;
  border-color: #fff;
  background-image: linear-gradient(45deg, $primary-light, $primary);
}
.btn-outline-blue {
  color: $blue;
  border-color: $blue;
}
.btn-outline-blue:hover {
  color: #fff;
  border-color: #fff;
  background-image: linear-gradient(45deg, $blue-light, $blue);
}
.btn-outline-red {
  color: $red;
  border-color: $red;
}
.btn-outline-red:hover {
  color: #fff;
  border-color: #fff;
  background-image: linear-gradient(45deg, $red-light, $red);
}

// card
.card {
  border: 1px solid rgba(#7d8a99, 0.1);
  border-radius: 0.4rem;
}

// navbar
.navbar-tutorial {
  .nav-link {
    color: #858585;
    letter-spacing: 1px;
    margin-right: 1rem;
  }
  .active {
    font-weight: 700;
    border-bottom: 2px solid $primary;
  }
}

// layout
.navbar-light .navbar-nav .nav-link {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: $primary;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: $primary;
}

.navbar-primary {
  background-image: linear-gradient(45deg, #4298fb, #4264fb);
  padding: 10px 120px;
  #logo {
    font-family: 'Fahkwang', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 4px;
  }
}

// Home Page
#landing {
  h1 {
    letter-spacing: 3px;
    font-weight: 700;
  }
  p {
    letter-spacing: 1px;
    line-height: 1.7;
  }
}

#feature {
  .card-title {
    font-family: 'Fahkwang', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .icon-red {
    color: $red;
  }
  .icon-primary {
    color: $primary;
  }
  .icon-primary-dark {
    color: $primary-dark;
  }
}

// Tutorials
.tutorials {
  h4 {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
  }
  .creator {
    font-family: 'Fahkwang', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
  }
}

.btn-like:hover .btn-edit:hover .btn-delete:hover {
  text-decoration: none;
}
