<div class="row justify-content-md-center m-3">
  <div class="col-lg-5 mr-lg-3 pb-md-1 pl-lg-5 pt-3 ml-lg-5">
    <img src="/images/protected-page/share-success.svg" alt="landing page photo" width="100%">
  </div>

  <div class="col-lg mt-lg-3 pt-lg-5 pr-lg-5 mr-lg-5 text-lg-left text-center">
    <h2 class="mt-4 text-dark">Thank You for your sharing!</h2>
    <p class="mt-3 text-secondary">Sharing will enrich everyone with more knowledge. <br>Thank you for being so
      wonderful!</p>

    <a href="/profile/allposts" class="btn btn-outline-primary mt-3 mr-4">See your posts</a>
    <a href="/share" class="btn btn-outline-red mt-3 mr-4">Share another Tutorial</a>
    <a href="/tutorials/all" class="btn btn-outline-blue mt-3 mr-4">See all Tutorials</a>


  </div>

</div>